services:
  {{ app_name }}:
    image: {{ docker_image }}
    container_name: {{ app_name }}
    environment:
      __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS: ".unir.br"
    labels:
      - "traefik.enable=true"

      # Router HTTPS específico
      - "traefik.http.routers.{{ app_name }}-secure.rule=Host(`{{ app_fqdn }}`)"
      - "traefik.http.routers.{{ app_name }}-secure.entrypoints=websecure"
      - "traefik.http.routers.{{ app_name }}-secure.tls=true"

      # Router HTTP → HTTPS
      - "traefik.http.routers.{{ app_name }}-redirect.rule=Host(`{{ app_fqdn }}`)"
      - "traefik.http.routers.{{ app_name }}-redirect.entrypoints=web"
      - "traefik.http.routers.{{ app_name }}-redirect.middlewares=redirect-to-https@docker"

      # Middleware de redirect HTTPS
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"

    restart: unless-stopped
    networks:
      - traefik

networks:
  traefik:
    external: true

  